{% extends 'templates/layout.html.twig' %}

{% block container %}
    <div class="row">

        <div class="col-md-3">
            <p class="lead">Boutique</p>
            {{ controller("Controller\\DefaultController","sidebarAction")|raw }}
        </div>

        <div class="col-md-9">
            {% block content %}{% endblock %}
        </div>

    </div>
{% endblock %}